.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease-out;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 70%;
  margin: 0px auto;
  /* padding: 20px 30px; */
  background-color: #fff;
  /* border-radius: 6px; */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.59);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 500px;
}

.modal-header{
    padding: 15px;
    background: #1787c9;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.modal-footer {
    padding: 0 0 15px;
    text-align: center;
}

.modal-body {
  /* margin: 0px 0; */
  padding: 15px;
  text-align: center;
}

.modal-button {
	padding: 5px 15px;
	margin-right: 5px;
}

.modal-button:hover{
	opacity: .75;
}

.modal-success-button {
    background-color: #1787c9;
    color: #fff;
}

.modal-secondary-button {
    background-color: #717171;
    color: #fff;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}